h1{
   font-size:80px;
   letter-spacing: 1px;

   @include media-laptop(){
      font-size:60px;
   }
   @include media-mobile(){
      font-size:30px;
   }

   em{
      color:rgb(255, 184, 137);
   }
}